.body {
    text-anchor: middle;
}

.navbar {
    background-color: #791214 !important;
}

.dropdown-menu-dark {
    background-color: #791214 !important;
    border-width: 0px !important;
}
